@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    src: url("/app/src/public/fonts/Exo-Thin.ttf");
    src: url("/app/src/public/fonts/Exo-ExtraLight.ttf");
    src: url("/app/src/public/fonts/Exo-Light.ttf");
    src: url("/app/src/public/fonts/Exo-Medium.ttf");
    src: url("/app/src/public/fonts/Exo-Regular.ttf");
    src: url("/app/src/public/fonts/Exo-SemiBold.ttf");
    src: url("/app/src/public/fonts/Exo-Bold.ttf");
    src: url("/app/src/public/fonts/Exo-ExtraBold.ttf");
    src: url("/app/src/public/fonts/Exo-Black.ttf");
  }

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;

    font-family: Exo, sans-serif;
  }

  .custom-page-title {
    font-size: 2em;
    padding: 2rem 0;
    text-align: center;
    font-weight: 800;
  }

  .content {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
  }

  .btn-gradient-blue {
    @apply px-5 py-2.5 mr-2 mb-2 text-white font-medium rounded-lg text-sm text-center;
    @apply bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br;
  }

  .btn-custom-blue {
    @apply inline-flex items-center px-3 py-2 text-sm font-bold text-center text-white rounded;
    @apply bg-custom-blue hover:bg-uef-blue dark:hover:bg-uef-blue;
  }

  .paragraph {
    @apply font-light tracking-wide text-gray-500 dark:text-gray-400 sm:text-xl;
  }
}
