{
   "root": true,
   "env": {
      "browser": true,
      "es2021": true,
      "node": true
   },
   "extends": [
      "plugin:vue/vue3-recommended",
      "eslint:recommended",
      "@vue/typescript/recommended",
      "@vue/prettier",
      "plugin:security/recommended",
      "plugin:jsx-a11y/recommended"
   ],
   "parserOptions": {
      "ecmaVersion": 2021,
      "project": "./tsconfig.json"
   },
   "plugins": ["security", "jsx-a11y"],
   "rules": {},
   "overrides": [
      {
         "files": ["src/pages/**/*.vue", "src/pages/*.vue"],
         "rules": {
            "vue/multi-word-component-names": 0
         }
      }
   ]
}
