supportedArchitectures.os=linux
supportedArchitectures.os=win32
supportedArchitectures.cpu=x64
supportedArchitectures.cpu=arm64
supportedArchitectures.libc=glibc
supportedArchitectures.libc=musl
node-linker=hoisted
shamefully-hoist=true
