{
   "extends": ["stylelint-config-recommended", "stylelint-config-standard"],
   "overrides": [
      {
         "files": ["**/*.vue"],
         "customSyntax": "postcss-html"
      }
   ],
   "rules": {
      "at-rule-no-unknown": null
   }
}